html {background: #556270;}
body {
  color:#DDD;
  font-size:85%;
  /*line-height:1.4em;*/
  font-weight: normal;
  font-family: "Lucida Grande", Arial, sans-serif;
  text-align:center;
  min-width:1000px;
}
a, a:link, a:visited {color: #1693A5;Text-decoration: none;}
a:hover {color: #1693A5;text-decoration: underline;}
a:active {color: #1693A5;}
ul {
  list-style-type: none;
}
button, input[type=submit], input[type=button], .button {
    display:inline-block;
    background: #c6c6c2;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#e6e6e2),to(#b6b6b2));
    background: -moz-linear-gradient(-90deg,#e6e6e2,#b6b6b2);
    background: -o-linear-gradient(#e6e6e2,#b6b6b2);
    border:1px solid #bbb;
    text-align:center;
    color:#6F6F70;
    text-shadow: 0 1px 0 #fff;
    padding:5px 15px;
    font-size:1.1em;
    border-radius:3em 3em 3em 3em;
    -moz-border-radius:3em;
    -webkit-border-radius:3em;
    box-shadow: 0 1px 5px #fff inset, 0 1px 5px #ccc;
    -webkit-box-shadow: 0 1px 5px #fff inset, 0 1px 5px #ccc;
    -moz-box-shadow: 0 1px 5px #fff inset, 0 1px 5px #ccc;
}
button:hover, input[type=submit]:hover, input[type=button]:hover, .button:hover, .button.active {
    background: #e6e6e2;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#FeFeFc),to(#e6e6e2));
    background: -moz-linear-gradient(-90deg,#FeFeFc,#e6e6e2);
    background: -o-linear-gradient(#FeFeFc,#e6e6e2);
    color:#3F3F40;
    border-color:#c6c6c2;
    box-shadow: 0 1px 3px #ccc inset, 0 1px 3px #fff;
    -webkit-box-shadow: 0 1px 3px #ccc inset, 0 1px 3px #fff;
    -moz-box-shadow: 0 1px 3px #ccc inset, 0 1px 3px #fff;
    text-decoration:none;
}
.button.active {
    background: #B6B6B2;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#a6a6a2),to(c6c6c2#));
    background: -moz-linear-gradient(-90deg,a6a6a2#,#c6c6c2);
    background: -o-linear-gradient(#a6a6a2,#);
    color:#3F3F40;
    text-shadow: 0 1px 0 #eee;
    border-color:#eee;
    box-shadow: 0 1px 3px #666 inset, 0 1px 3px #fff;
    -webkit-box-shadow: 0 1px 3px #666 inset, 0 1px 3px #fff;
    -moz-box-shadow: 0 1px 3px #666 inset, 0 1px 3px #fff;
}
.container {padding:5px;}
.canvas_wrap,.panel_top, .panel_btm  {
    position: relative;
    width:800px;
    margin: 0 auto;

    text-align:left;
    color: #000;
    border:1px solid #bbb;
}

.panel_top, .panel_btm {
    padding: 5px 0;
    background: #f6f6f2;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#FeFeFc),to(#e6e6e2));
    background: -moz-linear-gradient(-90deg,#FeFeFc,#e6e6e2);
    background: -o-linear-gradient(#FeFeFc,#e6e6e2);
    box-shadow: 0 1px 3px #bbb;
    -webkit-box-shadow: 0 1px 3px #bbb;
    -moz-box-shadow: 0 1px 3px #bbb;
}
.panel_top {
    border-bottom:1px solid #eee;
    border-radius: 0.3em 0.3em 0em 0em;
    -moz-border-radius:0.3em 0.3em 0em 0em;
    -webkit-border-radius:0.3em 0.3em 0em 0em;
}
.panel_btm {
    border-top:1px solid #eee;
    border-radius:0em 0em 0.3em 0.3em;
    -moz-border-radius:0em 0em 0.3em 0.3em;
    -webkit-border-radius:0em 0em 0.3em 0.3em;
}

#welcomeArea {
  text-align:right;
  width: 60%;
  /*border: 1px solid;*/
}

#welcomeArea > h3 {
  font-size: 65%;
}

#welcomeArea > h1 {
  /*text-transform: uppercase;*/
  font-variant: small-caps;
  font-size: 250%;
  letter-spacing: -1px;
  /*line-height: 60px;*/
  margin-top: 10%;
}

#welcomeArea > hr {
  width: 50%;
  border: 1px;
  border-style: none none dashed;
  margin: 0 0 0 auto;
}

#welcomeArea .arrow {
  font-size: 180%;
}

#welcomeArea ul {
  margin-top: 0px;
}
#welcomeArea li {
  margin-right: 2%;
}
#welcomeArea li > .arrow {
  margin-left: 1%;
}
#welcomeArea li > a {
  font-family: monospace;
  font-size: 1.5em;
  letter-spacing: -1px;
}